@model Customer

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="CustomerID" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <div><span asp-validation-for="Surname" class="text-danger"></span></div>
        <input asp-for="Surname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Address"></label>
        <div><span asp-validation-for="Address" class="text-danger"></span></div>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber"></label>
        <div><span asp-validation-for="PhoneNumber" class="text-danger"></span></div>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>