@model IEnumerable<Customer>

@foreach (var customer in Model)
{
    <div class="card">
        <div class="card-block">
            <h3 class="card-title">@customer.Name @customer.Surname</h3>
            <p class="card-text">@customer.Address</p>
            <p class="card-text">@customer.PhoneNumber</p>
        </div>
    </div>
}

<div class="text-center" style="margin-top: 1em;">
    <a asp-action="Add" class="btn btn-primary" role="button">Add Customer</a>
</div>